#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

build:
	mkdir -p usr/share/locale/kk/LC_MESSAGES
	mkdir -p usr/share/locale/ru/LC_MESSAGES
	msgfmt -o usr/share/locale/kk/LC_MESSAGES/live-installer.mo po/kk.po
	msgfmt -o usr/share/locale/ru/LC_MESSAGES/live-installer.mo po/ru.po

clean:
	dh_testdir
	dh_testroot
	dh_clean 
	rm -rf usr/share/locale

binary-indep: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_install
	dh_installchangelogs 
	dh_installdocs
	dh_installmenu --package=live-installer
	dh_installinit --package=live-installer
	dh_lintian
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary
